src/main/resources/it/polimi/se2018/utils/client_specification.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://se2018.polimi.it/client_specification"
           elementFormDefault="qualified">

    <xs:element name="client_specification">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="server_address" type="xs:string"/>
                <xs:element name="service_name" type="xs:string"/>
                <xs:element name="server_port" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>